@{
    ViewBag.Title = "Olvido Contraseña";
    Layout = "~/Views/Shared/_LayoutExterno.cshtml";
}

<form class="form">
    <p class="title">¿Olvidaste tu contraseña?</p>
    <p class="message">Introduce tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña.</p>

    <label>
        <input required="" placeholder="" type="email" class="input">
        <span>Correo</span>
    </label>

    <button class="submit">Enviar enlace de restablecimiento</button>

    <p class="signin">¿Recordaste tu contraseña? <a href="#">Inicia sesión</a></p>
</form>
