body, html {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #0056B3;
    color: white;
    padding: 15px;
}

    header .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .navbar-brand {
        margin-right: auto;
    }

    header .navbar-nav.mx-auto {
        display: flex;
        gap: 30px;
        justify-content: center;
        flex-grow: 1;
    }

    header .navbar-nav.mb-lg-0 {
        display: flex;
        align-items: center;
    }

    header .navbar .nav-link,
    header .navbar .navbar-brand {
        color: white;
    }

        header .navbar .nav-link:hover {
            color: #FFD700;
        }

        header .navbar .nav-link.active {
            color: white !important;
        }

footer {
    background-color: #0056B3;
    color: white;
    text-align: center;
    padding: 10px;
}

    footer a {
        text-decoration: none;
    }

        footer a:hover {
            text-decoration: underline;
            color: #FFD700;
        }

.main-content {
    flex-grow: 1;
}

.btnRegistro {
    font-size: 1.2rem;
    padding: 1rem 2.5rem;
    border: none;
    outline: none;
    border-radius: 0.4rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: rgb(14, 14, 26);
    color: rgb(234, 234, 234);
    font-weight: 700;
    transition: 0.6s;
    box-shadow: 0px 0px 60px #1f4c65;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4));
}

    .btnRegistro:active,
    .btnRegistro:active {
        scale: 0.92;
    }

    .btnRegistro:hover,
    .btnRegistro:hover {
        background: linear-gradient(270deg, rgba(2, 29, 78, 0.681) 0%, rgba(31, 215, 232, 0.873) 60%);
        color: rgb(4, 4, 38);
    }

.input-group {
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border: none;
    background: none;
    padding: 0 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.table-custom th,
.table-custom td {
    vertical-align: middle;
    padding: 10px;
}

.table-custom thead th {
    color: black;
    background-color: white;
    text-align: center;
}

.table-custom tbody tr:hover {
    background-color: hsla(194, 100%, 69%, 1);
}

.table-custom tbody tr {
    transition: background-color 0.5s ease;
}

.modal-div-btn {
    text-align: center;
}

.card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    padding: 36px;
    border-radius: 24px;
    overflow: hidden;
    line-height: 1.6;
    border: 1px solid #999999;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    color: #000000;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

    .content .heading {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.3;
        z-index: 1;
        transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .content .para {
        z-index: 1;
        opacity: 0.8;
        font-size: 18px;
        transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    }

.card::before {
    content: "";
    position: absolute;
    right: -5.2rem;
    top: -5.2rem;
    width: 10.4rem;
    height: 10.4rem;
    background: #0a3cff;
    z-index: 0;
    opacity: 0;
    border-radius: 50%;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.card::after {
    content: "";
    position: absolute;
    left: -5.2rem;
    bottom: -5.2rem;
    width: 10.4rem;
    height: 10.4rem;
    background: #0a3cff;
    z-index: 0;
    opacity: 0;
    border-radius: 50%;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.card:hover::before {
    scale: 7;
    opacity: 1;
}

.card:hover::after {
    scale: 7;
    opacity: 1;
}

.card:hover .content .heading,
.card:hover .content .para {
    color: #ffffff;
}

.card:hover {
    box-shadow: 0rem 6px 13px rgba(0, 0, 0, 0.1), 0rem 24px 24px rgba(0, 0, 0, 0.09), 0rem 55px 33px rgba(0, 0, 0, 0.05), 0rem 97px 39px rgba(0, 0, 0, 0.01), 0rem 152px 43px rgba(0, 0, 0, 0);
    border-color: #0a3cff;
    scale: 1.05;
}