@model ProyectoSGIOCore.Models.Empleado
@{
    ViewBag.Title = "CrearProyecto Empleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container my-4">
    <div class="form-container">
        <h2 class="text-center mb-4">Crear nuevo empleado</h2>

        <!-- Mensaje de exito -->
        @if (TempData["MensajeExito"] != null)
        {
            <div class="alert alert-success text-center alert-dismissible fade show" role="alert">
                @TempData["MensajeExito"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <form asp-action="CrearEmpleado" asp-controller="Empleado" method="post">

            <!-- Nombre -->
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" asp-for="Nombre" class="form-control" placeholder="Ingrese el nombre" required>
            </div>

            <!-- Apellidos -->
            <div class="mb-3">
                <label for="apellido" class="form-label">Apellido(s)</label>
                <input type="text" asp-for="Apellido" class="form-control" placeholder="Ingrese el/los apellido(s)" required>
            </div>

            <!-- Correo Electrónico -->
            <div class="mb-3">
                <label for="correo" class="form-label">Correo Electrónico</label>
                <input type="email" asp-for="Correo" class="form-control" placeholder="ejemplo@correo.com" required>
            </div>

            <!-- Botón de Envío -->
            <button type="submit" class="btn btn-primary w-100">Agregar Empleado</button>
        </form>

        <!-- Mensaje de error -->
        @if (ViewData["Mensaje"] != null)
        {
            <div class="alert alert-danger text-center mt-3" role="alert">
                @ViewData["Mensaje"]
            </div>
        }
    </div>
</div>