@model ProyectoSGIOCore.Models.Proyecto
@{
    ViewBag.Title = "CrearProyecto Proyecto";
    Layout = "~/Views/Proyecto/MenuProyecto.cshtml";
}

@if (TempData["MensajeError"] != null)
{
    <div class="alert alert-danger text-center mt-3" role="alert">
        @TempData["MensajeError"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<h2>Crear Proyecto</h2>

<form asp-action="CrearProyecto" method="post">
    <div class="mb-3">
        <label class="form-label">Nombre del Proyecto</label>
        <input asp-for="Nombre" class="form-control" placeholder="Ingrese el nombre del proyecto" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <hr />

    <h3>Fases</h3>
    <div class="form-container">
    <div id="fases-container">
        <!-- Aquí se añadirán los contenedores de fase en formato de "card" -->
    </div>


    <button type="button" class="btn btn-primary mt-3" onclick="addPhase()">Agregar Fase</button>
    <button type="submit" class="btn btn-success mt-3">Crear Proyecto</button>
    </div>
</form>
