@model ProyectoSGIOCore.Models.Proyecto
@{
    ViewBag.Title = "Crear Proyecto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Crear Nuevo Proyecto</h2>

@if (TempData["MensajeError"] != null)
{
    <div class="alert alert-danger text-center mt-3" role="alert">
        @TempData["MensajeError"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<form asp-action="Crear" asp-controller="Proyecto" method="post">
    <div class="form-group">
        <label asp-for="Nombre"></label>
        <input asp-for="Nombre" class="form-control" />
        <span asp-validation-for="Nombre" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Crear</button>
    <a asp-action="ListaProyectos" class="btn btn-secondary">Cancelar</a>
</form>