@model IEnumerable<ProyectoSGIOCore.Models.Proyecto>

@{
    ViewData["Title"] = "Lista de Proyectos";
    Layout = "~/Views/Proyecto/MenuProyecto.cshtml";
}

<h2>Proyectos</h2>

@if (TempData["MensajeExito"] != null)
{
    <div class="alert alert-success text-center mt-3" role="alert">
        @TempData["MensajeExito"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

    </div>
}

<a asp-action="CrearProyecto" asp-controller="Proyecto" class="btn btn-primary">Crear Proyecto</a>

<table>
    <thead>
        <tr>
            <th>Nombre del Proyecto</th>
            <th>Fecha de Creación</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var proyecto in Model)
        {
            <tr>
                <td>@proyecto.Nombre</td>
                <td>@proyecto.FechaCreacion.ToShortDateString()</td>
                <td>
                    <a href="@Url.Action("GestionarProyecto", "Proyecto", new { id = proyecto.Id })">Gestionar</a>
                </td>
            </tr>
        }
    </tbody>
</table>